
.register__form__wrapper {
  margin-top: 15%;
  display: flex;
}

.register__form__email__input{
  margin-top: 15%;
  display: flex;
}

.register__form__password__input{
  margin-top: 15%;
  display: flex;
}

.register__form__btn {
  margin: auto auto;
}

.register__user__list{
  margin: auto auto;
}
